
/* 최종 css */

h3 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.wrapper {
    width: 320px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px 20px;
}

.inputbox {
    display: block;
    width: 300px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 15px;
    margin-top: 20px;
}

.phoneNum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}

.phoneNum > input {
    width:90px;
    height:30px;
}

.wrapper__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    font-size: 30px;
}

#num {
    margin: 10px;
}

#btn1 {
    margin: 10px;
}

#count {
    margin: 10px;
}

#btn2 {
    margin: 10px;
}

.wrapper__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}